/* stuff for signing in, default design */
#sign-in-wrapper{
    width: 100%;
    text-align: center;
    /* background: #00e676; */
}
.nav-wrapper{
  background-color: #4e342e;

}
.sign-out{
    float: right;
}
#form-wrapper{
    background-color: #00e676;
    border: 2px solid #00e676;
    border-radius: 4px;
    margin-top: 15vh;
}
#sign-in, #register{
margin-bottom: 1vh;
}
body{
  background-color:#8d6e63;
    opacity: 1;
    transition: 1s opacity;
}



body.fade-out {
  opacity: 0;
  transition: none;
}
body.faded-out{
  opacity: 0;
  transition: 1s opacity;
}
#welcome-banner{
    text-align: center;
    color:white;
    font-size: 1.5em;
    font-weight: bold;
    border: 1px solid #00e676;
    border-radius: 2px;
    margin: 3px;
    padding: 5px;
    opacity: .8;
}
#register-banner{
    display:none;
}
.register-item{
    display: inline-block;
    background-color: #00e676;
}

/* stuff for registration form */
#user-form{
    box-sizing: border-box;
    display: inline-block;
    text-align: center;
  }
  .container{
    width: 100%;
    margin-top: 5vh;
  }
  .big-form{
      border: 3px solid #00e676;
      border-radius: 5px;
    background-color:#d7ccc8;
  }
  .user{
    max-width: 24%;
    margin: 5px;
    border: 1px solid #1de9b6;
    background-color: #b2dfdb;
  }
  .user-text{
    padding-top: 2px;
    max-width: 49%;
    margin: 5px;
    background-color: #b2dfdb;
     border: 1px solid #1de9b6;
    height: 30vh;
  }
  ::placeholder {
    color: #212121;
    opacity: .8;
  }
  #checkbox-description{
    opacity: 1;
  }
  .user-nums{
    height: 15vh;
      background-color: #b2dfdb;
     border: 1px solid #1de9b6;
    margin: 2px;
  }
  .avatar-img{
    width:100%;
    max-height: 18vh;
  }
  .user-input{
    width: 100%;
    height: 75%;
    max-width: 100%;
    max-height: 800%;
  }