.nav-wrapper{
    background-color: #4e342e;
}
body{
    background-color:#8d6e63;
    opacity: 1;
    transition: 1s opacity;  
    font-weight: 550;
}
.post-wrapper{
    margin: 10px auto;
    background-color: #e8f5e9 ;
    border: 2px solid #00e676;;
    border-radius: 3px;
}
.post-wrapper p{
    position: absolute;
    right: 20vw;
    margin-right: 3vw;
    display: inline-block;
    text-align: left;
    color: #4e342e;
}
.post-wrapper h3{
    margin-left: 5px;
    margin-top: 0px;
    display: inline-block;
}
.post-wrapper div{
    display: block;
    padding: 2px;
    margin: 5px;
}
#postform{
    margin-top: 10px;
    display: none;
    background-color: #e8f5e9;
}
#postform textarea{
    max-width: 100%;
    height: 20vh;
    min-width: 100%;
}
#new-post{
margin: 10px auto;
}
#submit-post{
    display: inline-block;
 margin: 5px;
 padding: 2px;
}
