body{
    background-color:#8d6e63;
    opacity: 1;
    transition: 1s opacity;  
    font-weight: 550;
}

.nav-wrapper{
    background-color: #4e342e;
}
#profile-wrapper{
    background-color: #00e676;
    border: 2px solid #00e676;
    border-radius: 4px;
    margin-top: 5vh;
}
.user{
    max-width: 24%;
    margin: 5px;
    border: 1px solid #1de9b6;
    border-radius:5px;
    background-color: #b2dfdb;
  }
  .user-text{
    padding-top: 2px;
    max-width: 49%;
    margin: 5px;
    background-color: #b2dfdb;
     border: 1px solid #1de9b6;
     border-radius:5px;
    height: 20vh;
  }
  .avatar-img{
    width:100%;
    max-height: 18vh;
  }
  #edit{
      text-align: center;
  }
  .btn-holder{
      text-align: center;
  }
  .booleans{
    background-color: #b2dfdb;
    margin: 1%;
    border: 1px solid #1de9b6;
    border-radius: 5px;
  }
  .user-nums{
    background-color: #b2dfdb;
    border: 1px solid #1de9b6;
    border-radius:5px;
   margin: 2px;
  }
  #avatar-img-wrapper{
      margin: 2px;
    display: inline-block;
    background-color: #b2dfdb;
    border: 1px solid #1de9b6;
    border-radius:5px;
  }