.nav-wrapper{
    background-color: #4e342e;

}
*{
    box-sizing: border-box;
}
#search{
    margin-top: 5px;
   }
.nav{
    margin-top: 5px;
    border: 1px solid #d7ccc8;
    border-radius: 5px;
   background-color: #d7ccc8;
   font-weight: bold;
   }
.nav-bar{
    height: 10vh;
     margin-top: 10px;
   text-align: center;
     background-color: #d7ccc8;

   }
#distance, #garden{
       display: inline;
   }
.orgo-only, .pets-only{
       margin-top: 4vh;
   }
.distance-wrapper{
       margin-top: 1.5vh;
   }
   .no-results{
       border-bottom: 1px solid #bcaaa4;
   }
   .card-wrapper{
       color:#efebe9;
       font-weight: bold;
       background-color: #1b5e20;
       margin: 5px;
       border: 2px solid #4e342e;
       border-radius: 3px;
       width: 23%;
       display: inline-block;
   }
   .card-img{
       padding-right: 10px;
       max-width: 100%;
       height: auto;
       max-height: 100%;
   }
   .img-wrapper{
       float: right;
       width: 50%;
       height: 20vh;
   }
   .plants, .summary{
       overflow: hidden;
       max-height: 10vh;
       max-width: 50%;
   }
   .user-name, .summary, .plant{
       padding: 4px;
       color: #efebe9;
       width: 100%;
       float:left;
   }
   body{
    background-color:#8d6e63;
   }

   #card-modal{
    position: fixed;
    z-index: 100;
    width: 70%;
    height: 70vh;
    display: block;
    left: 20vw;
    top: 20vh;
    border: 2px solid #efebe9;
    border-radius: 2px;
    
}
   .card-wrapper:hover{
       cursor: pointer;
   }